.card {
    padding: .5rem 1rem;
    border: 1px #ccc dashed;
    margin-bottom: 1rem;

    h2 {
        margin-bottom: .5rem;;
    }

    .buttons {
        margin-bottom: .5rem;
    }

    .text {
        font-size: 1.5em;

        &.red {
            color: red;
        }

        &.blue {
            color: blue;
        }

        &.green {
            color: green;
        }
    }
}