<div class="card">
    <h2 [ngStyle]="{
        'color': card.title.length < 5 ? 'blue' : 'red',
        'fontWeight': card.title.length < 7 ? 'normal' : 'bold'
    }"> {{ index }} {{ card.title }}</h2>
    <!-- <p class="text" [ngClass]="{
        blue: textColor === 'blue',
        red: textColor === 'red',
        green: textColor === 'green'
    }">{{ text }}</p> -->

    <p class="text" 
        [class.blue]='textColor === "blue"'
        [class.red]='textColor === "red"'
        [class.green]='textColor === "green"'
    >{{ card.text }}</p>

    <div class="buttons">
        <button (click)="changeTitle()">Change button</button>
        <button (click)="card.title = 'Inline title'">Change title inline</button>
    </div>

    <div class="buttons">
        <button (click)="textColor = 'red'">Red button</button>
        <button (click)="textColor = 'blue'">Blue button</button>
        <button (click)="textColor = 'green'">Green button</button>
    </div>

    <!-- <div>
        <input type="text" (input)="inputHandler(myInput.value)" [value]="title" #myInput>
    </div> -->

    <div>
        <input type="text" [(ngModel)]="card.title" (ngModelChange)="changeHandler()">
    </div>

    <div>
        <strong>{{ cardDate | date: 'dd MMMM YYYY HH:mm:ss' : undefined : 'ru' }}</strong>
    </div>

</div>